/* body { */
/* .timer-section {
    font-family: Arial, sans-serif;
} */

.timer-section {
    margin-bottom: 80px;
}

#startButton,
#pauseButton,
#resetButton {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

#startButton {
    background-color: rgb(108, 158, 108);
}

#pauseButton {
    background-color: rgb(218, 151, 89);
}

#resetButton {
    background-color: rgb(136, 136, 136);
}

#hours,
#minutes,
#seconds,
#tenths,
#countMode {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.85;
}

#hours {
    width: 41px;
    margin-left: 27px;
}

#minutes {
    width: 40px;
    margin-left: 27px;
}
/* margin-left: 14px; */

#seconds {
    width: 41px;
    margin-left: 15px;
}
/* margin-left: 10px; */

#tenths {
    width: 42px;
    margin-left: 15px;
}
    /* margin-left: 24px; */

#countMode {
    margin-left: 48px;
    cursor: pointer;
    color: black;
}
/* margin-left: 31px; */

.timerDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 5px;
}

#timer-time {
    margin-top: 0px;
}

#media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#iframe-container-a,
#iframe-container-b,
#iframe-container-c,
#iframe-container-d,
#iframe-container-e,
#iframe-container-f {
    display: flex;
    margin-top: 25px;
    border-radius: 20px;
    /* border: 1px solid black; */
    background-color: rgb(24, 24, 24);
    overflow: hidden;
    /* object-fit: contain; */
}

#billboard-top50-div,
#billboard-div {
    display: flex;
    /* padding-top: 15px; */
    cursor: pointer;
}

#billboard-top50-div {
    padding-top: 15px;
}

#billboard-div {
    margin-top: 3px;
}

.billboard-link-text {
    padding-left: 7px;
    margin-bottom: 5px;
}

/* #music-player-classic-a,
#music-player-classic-b,
#music-player-pop-b,
#music-player-lofi-girl {
    padding-top: 25px;
} */

#billboard-top50-img,
#billboard-img {
    border-radius: 20px;
}

a:hover {
    color: rgb(211, 211, 211);
    cursor: pointer;
}

a:link, a:visited {
    color: rgb(211, 211, 211);
}

#billboard-link-1,
#billboard-link-2 {
    text-decoration: underline;
}

a:link:active, a:visited:active {
    color: rgb(85, 75, 107);
  }

  .timer-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #trigger-action-relaxation,
  #trigger-act {
    display: flex;
    justify-content: center;
}

/* Computer screens and larger (start) */
@media screen and (min-width: 1024px) {

    .timer-container {
        display: flex;
        justify-content: center;
      }

      .timer-wrapper {
        display: flex;
        flex-direction: column;
      }

    #billboard-top50-img {
        width: 560px;
        height: 315px;
        display: flex;
        object-fit: cover;
    }

    #billboard-div {
        display: flex;
        padding-top: 10px;
        cursor: pointer;
    }

    #billboard-img {
        width: 560px;
        height: 315px;
        display: flex;
        object-fit: cover;
    }
}

/* Tablets and larger screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .timer-container {
        display: flex;
        justify-content: center;
      }

      .timer-wrapper {
        display: flex;
        flex-direction: column;
      }

    #billboard-top50-div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    #billboard-top50-img {
        width: 100%;
        height: auto;
        display: flex;
        object-fit: cover;
    }

    #billboard-div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        cursor: pointer;
    }
    #billboard-img {
        width: 100%;
        height: auto;
        display: flex;
        object-fit: cover;
    }
}

  /* Tablets and larger screens (end) */

/* Mobile screens (start) */
@media screen and (max-width: 767px) {

    #billboard-top50-div {
        width: 100%;
        height: auto;
    }

    #billboard-top50-img {
        width: 100%;
        height: auto;
        display: flex;
        object-fit: cover;
    }

    #billboard-div {
        width: 100%;
        height: auto;
        display: flex;
        padding-top: 10px;
        cursor: pointer;
    }

    #billboard-img {
        width: 100%;
        height: auto;
        display: flex;
        object-fit: cover;
    }
}