#about-section {
    background-image: radial-gradient(rgb(24, 25, 44), rgb(24, 24, 24));
    border-radius: 5px;
}
/* background-image: radial-gradient(rgb(12, 14, 32), rgb(24, 24, 24)); */
/* background-image: radial-gradient(rgb(37, 39, 66), rgb(24, 24, 24)); */



#about-section-divider-1 {
    height: 100px;
    background-color: rgb(24, 25, 30); /* For browsers that do not support gradients */
    /* background-image: linear-gradient(rgb(24, 24, 24), rgb(0,0,0)); */
    background-image: linear-gradient(180deg, rgb(24, 25, 30), rgb(24, 24, 24));
}

#about-section-divider-2 {
    height: 100px;
    background-color: rgb(24, 24, 24); /* For browsers that do not support gradients */
    /* background-image: linear-gradient(rgb(24, 24, 24), rgb(0,0,0)); */
    background-image: linear-gradient(180deg, rgb(24, 24, 24), rgb(0,0,0));
}

/* Computer screens and larger (start) */
@media screen and (min-width: 1024px) {
    #about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about-section-wrapper {
        width: 45%;
        display: flex;
        flex-direction: column;
    }
}

/* Tablets and larger screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about-section-wrapper {
        width: 45%;
        display: flex;
        flex-direction: column;
    }
  }
  /* Tablets and larger screens (end) */